$font: 'Roboto', sans-serif;
$hidden: hidden;
$flex: flex;
$grid: grid;
$std: 100%;
$true: 1280px;
$between: space-between;
$auto: 0 auto;
$acid: #F8F200;
$block: block;
$blue: #52BEDC;
$grey: #777;
$font-2: 'Archangelsk';
$black: #000;
$white: #fff;
$relat: relative;
$width-p: 952px;
$abs: absolute;
$seventy: 70px;
$center: center;