@mixin title {
  margin-bottom: 25px;
  font-family: $font-2;
  font-size: 62px;
  font-weight: 700;
  line-height: $std;
  color: $black;
}

@mixin txt {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 34px;
  width: $width-p;
  min-height: 20px;
}

@mixin coloring {
  color: $blue;
  font-weight: 700;
}

@mixin placeholder {
  font-family: $font;
  font-weight: 300px;
  font-size: 18px;
}

@mixin submit {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}
